body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding
}
div.people {
  text-align:left;
  text-indent:400px;
}
div {
  text-align:center;
}

h1 {
  text-align: center;
}

h5 {
 text-align: center; 
}

p {
  font-size: 16;
  padding: 0px 300px;
  text-align:center;
}

#stat{
  padding-top: 30px;
  font-weight: bold;
  text-align: center;
}

#onepic{
  position: relative;
  margin-top: -1000px; 
  margin-right: 100px;
  width: 250px;
  height: 200px;
}

#twopic{
  position: relative;
  margin-top: -800px; 
  margin-left: 100px;
  width: 250px;
  height: 200px;
}

#pix {
  position: relative;
  margin-top: -100px; 
  margin-left: 800px;
  width: 145px;
  height: 145px;
  padding-bottom: 5px;
}
menu {

}
#intro{
  text-align:center;
}
a:link {
  color: black;
  text-decoration:none;
  font-size: 18;
  margin: 10px;
  padding: 5px;
}

a:hover {
  background-color: red;
  color: white;
}

a.finalreport{
  text-align:center;
}

/*Homepage*/
.homepage{
  background-image: "images/lisa_baseball.jpg";
  background-size: contain;
  background-position: center center;
}